:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #242423;
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --text-primary: #fbfffe;
  --text-secondary: #080708;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf;
}